/* signupsuccess page css */
.SignupSuccessOutterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.18em 0%;
  /* width: 100%; */
  margin: auto;
}

.SignupCircleImg {
  width: 140px;
  height: 140px;
  left: 650px;
  top: 337px;
  border-radius: 50%;
  margin-bottom: 40px;
  background-image: url("../assets/images/signupsuccess/회원가입완료.jpg");
  background-size: cover;
}

.SignupSuccessText1 {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 30px;
}

.SignupSuccessText2 {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.SignupWhiteButton {
  width: 214px;
  height: 60px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}
.SignupGrayButton {
  width: 194px;
  height: 60px;
  border-radius: 8px;
  background-color: #a4a4a4;
  color: #ffffff;
  border: none;
}

.SignupButtonText {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 18px auto;
}

/* signup page css 추가 */
.SignupOutterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5% 0%;
  width: 100%;
  /* height: 52em; */
  margin: auto;
}

.SignupText {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #121212;
  /* margin-top: 40px; */
  margin-left: 1.2%;
}

.CheckboxStyle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
  transition: background 0.1s;
  display: inline-block; /* 영역적용가능해짐 */
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1%;
}
:checked {
  background-image: url("../assets/images/Signup/checkbox_icon.svg");
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
