.DetailOutterBox {
  margin: 0% 17.36%;
}

.DetailTitleBox {
  margin-top: 2%;
}

/* WithDogs */
.DogListTitle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
}
