.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-24{
  font-size: 24px;
}
.row-box{
  display: flex;
  flex-direction: row;
}
.column-box{
  display: flex;
  flex-direction: column;
}
